[Unit]
Description=Mount unit for core20, revision 1434
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/core20_1434.snap
Where=/snap/core20/1434
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
