[Unit]
Description=Mount unit for snapd, revision 15534
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/snapd_15534.snap
Where=/snap/snapd/15534
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
